@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao site do Estúdio Chapisco!</h1>
    <br>
</div>

<img src="~/img/chapisco.png" class="center">

</div>