@{
    ViewData["Title"] = "Loja";
}

<div class="text-center">
    <h1 class="display-4">Catálogo de produtos</h1>
    <br>
</div>

<div class="card-group">
    
    <div class="card">
        <img class="card-img-top" src="~/img/portaCopo.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Porta Copo</h5>
        <p class="card-text">Porta copo de concreto branco</p>
        <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/img/vasoMedio.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Vasinho Médio</h5>
        <p class="card-text">Vaso de concreto</p>
        <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/vasoMedio.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Vasinho Médio</h5>
        <p class="card-text">Vaso de concreto</p>
        <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/vasoMedio.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Vasinho Médio</h5>
        <p class="card-text">Vaso de concreto</p>
        <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
<br>
<div class="card-group">
    
    <div class="card">
        <img class="card-img-top" src="~/img/portaCopo.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Porta Copo</h5>
        <p class="card-text">Porta copo de concreto branco</p>
        <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/img/vasoMedio.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Vasinho Médio</h5>
        <p class="card-text">Vaso de concreto</p>
        <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>

</div>